* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  .removeMob {
    display: none;
  }
}

footer {
  color: #eeeeee;
  text-align: center;
  padding: 25px;
}

footer a {
  color: #eeeeee;
}

.navbar {
  height: 8vh;
}
